<!DOCTYPE html>
<html lang="en">
<head>
  <script src='javascripts/main.js'></script>
  <title><%= @title || "LightSaber" %></title>
  <%=erb: _error%>
</head>
<body>
    <%= yield %>
</body>
</html>
