<p>Enter details below</p>
  <form action="/sealions" method="post">
    <input type="text" placeholder="name" name='name'/><br>
    <input type="text" placeholder="location" name='location'/><br>
    <input type="text" placeholder="quirk" name='quirk'/><br>
    <input type="submit" value="Add" />
  </form>

