<!-- <p>Enter details below</p>
  <form action="/sealions/<%=curr_sealion.id%>" method="post">
    <input type="text" placeholder="name" name='name'/><br>
    <input type="text" placeholder="location" name='location'/><br>
    <input type="text" placeholder="quirk" name='quirk'/><br>
    <input type="submit" value="Add" />
  </form>
 -->

 <p> hello</p>
